#### 2024.9.10

**今日学习：
（48）找不到了（49）DataFrame介绍（50）小测试**

In [1]:
import pandas as pd

一、Dataframe介绍

**（1）DataFrame构成:**

        Series是一组索引对应的一项数据，如用户的id是一个Series，用户的年龄是一个Series
        那么由多个Series组成的数据结构，我们称之为DataFrame，也是我们最常用的数据结构
            其中DataFrame看起来就像是一个表格，不仅有索引，也有列名
            看起来就像是一个由Series组成的字典，每一个Series对应一个键名，如“id”、“年龄”···

**（2）创建DataFrame方法:**

        将pd.DataFrame()的参数传入一个字典，key为各个Series对应的键名，value是各个Series变量

In [8]:
s_id = pd.Series(["01", "02", "03", "04", "05"])
s_class = pd.Series(["二班", "一班", "三班", "一班", "二班"])
s_grade = pd.Series([90, 76, 98, 60, 100])

df_1 = pd.DataFrame({"学号":s_id, "班级":s_class, "成绩":s_grade})
df_1    # 自动生成一个方便查看的dataFrame列表，索引是 DaTaFrame自己的索引，列名是我们传入的 key，传入的值除了可以是 Series，也可以是普通的列表s = []

   学号  班级   成绩
0  01  二班   90
1  02  一班   76
2  03  三班   98
3  04  一班   60
4  05  二班  100

        如果我们传入的Series有标签索索引的话，则DataFrame的索引也会变成对应的标签

In [10]:
s_id = pd.Series(["01", "02", "03", "04", "05"],index=["沃玛", "憨色", "冷鸟", "露西", "麻衣"])
s_class = pd.Series(["二班", "一班", "三班", "一班", "二班"],index=["沃玛", "憨色", "冷鸟", "露西", "麻衣"])
s_grade = pd.Series([90, 76, 98, 60, 100],index=["沃玛", "憨色", "冷鸟", "露西", "麻衣"])

df_2 = pd.DataFrame({"学号":s_id, "班级":s_class, "成绩":s_grade})
df_2

    学号  班级   成绩
沃玛  01  二班   90
憨色  02  一班   76
冷鸟  03  三班   98
露西  04  一班   60
麻衣  05  二班  100

        如果想一次性创建DataFrame，则可以传入一个嵌套字典

In [12]:
df_3 = pd.DataFrame({"学号":{"小明":"01", "小红":"02"},
                     "班级":{"小明":"一班", "小红":"二班"},
                     "成绩":{"小明":"66", "小红":"100"}})
df_3    # DataFrame()中的参数本身是一个dict，其中每个dict中的value也是一个dict----即嵌套字典

    学号  班级   成绩
小明  01  一班   66
小红  02  二班  100

**（3）获得DataFrame的索引和列名:**

        .index获取 索引
        .columns获取 列名
        .values获取 值

In [15]:
print(df_2.index)
print(df_2.columns)
print(df_2.values)

Index(['沃玛', '憨色', '冷鸟', '露西', '麻衣'], dtype='object')
Index(['学号', '班级', '成绩'], dtype='object')
[['01' '二班' 90]
 ['02' '一班' 76]
 ['03' '三班' 98]
 ['04' '一班' 60]
 ['05' '二班' 100]]

**（4）对Dataframe进行T转置:**

        .T 会将返回的结果的行与列进行转置

In [17]:
df_2.T

    沃玛  憨色  冷鸟  露西   麻衣
学号  01  02  03  04   05
班级  二班  一班  三班  一班   二班
成绩  90  76  98  60  100

**（5）提取列数据:**

        df["列名"] 即可提取对应key的值----借此提取的是列，但列也是一个Series，也会将原本DataFrame对应的索引提取出来

In [20]:
df_2["班级"]    # 实际上和在python中使用dict[key]来提取后面的value是一样的

沃玛    二班
憨色    一班
冷鸟    三班
露西    一班
麻衣    二班
Name: 班级, dtype: object

In [24]:
df_2.班级    # 使用.列名 也是一样，因为每列 Series实际上也是 DataFrame的属性----但如果列名存在空格以及特殊符号时，则不能使用这个方法，则能使用上述[]方法

沃玛    二班
憨色    一班
冷鸟    三班
露西    一班
麻衣    二班
Name: 班级, dtype: object

        提取不止一列的数据，可使用df[["key_1", "key_2"]]----实际提取的是一个DataFrame

In [28]:
df_2[["学号", "成绩"]]    # 其中 df[]中的 key也是一个列表，因此得再次使用一个 []

    学号   成绩
沃玛  01   90
憨色  02   76
冷鸟  03   98
露西  04   60
麻衣  05  100

**（6）提取行数据:**

        df.loc["索引名"]     # 根据标签索引提取
        df.iloc["索引名"]    # 根据位置索引提取----巧记：i一般是数字，带i的就是用数字表示的位置

In [31]:
print(df_2.loc["沃玛"])    # 返回的结果是以 Series的形式返回的
print(df_2.iloc[0])

学号    01
班级    二班
成绩    90
Name: 沃玛, dtype: object
学号    01
班级    二班
成绩    90
Name: 沃玛, dtype: object

In [40]:
print(df_2.loc["沃玛":"冷鸟"])    # 标签索引 提取切片，包括右边结束值
print(df_2.iloc[0:2])            # 位置索引 提取切片，经典不包括右边结束值

    学号  班级  成绩
沃玛  01  二班  90
憨色  02  一班  76
冷鸟  03  三班  98
    学号  班级  成绩
沃玛  01  二班  90
憨色  02  一班  76

In [45]:
print(df_2.loc[["沃玛", "冷鸟"]])    # 标签索引 提取特定行
print(df_2.iloc[[0, 2]])            # 位置索引 提取特定行 ---- 与前面提取 df.[[]]一样，在[]中再放入一个[]

    学号  班级  成绩
沃玛  01  二班  90
冷鸟  03  三班  98
    学号  班级  成绩
沃玛  01  二班  90
冷鸟  03  三班  98

**（7）提取某个值:**

        df.loc["索引", "列名"]
        df.iloc[索引位置, 列名位置]

In [51]:
print(df_2.loc["沃玛", "成绩"])
print(df_2.iloc[0, 2])    # 注意：位置索引同样遵守从0开始计算

90
90

In [68]:
print(df_2.loc["冷鸟":"麻衣", "学号":"成绩"])          # 实际上是通过 切片 所选取的范围来提取数据
print(df_2.iloc[2:4, 0:2])                          # 同样位置索引不包括 结束值

print(df_2.loc[["冷鸟", "麻衣"], ["学号", "成绩"]])    # 使用[]列表进行提取

    学号  班级   成绩
冷鸟  03  三班   98
露西  04  一班   60
麻衣  05  二班  100
    学号  班级
冷鸟  03  三班
露西  04  一班
    学号   成绩
冷鸟  03   98
麻衣  05  100

        1.如果希望一个切片覆盖所有索引，即通过 : 进行提取，即默认从头到尾全部提取
        2.如果希望跨行提取，则可通过位置索引.iloc[1, 3, 5, ···]进行提取

**（8）条件筛选:**

        DataFrame中一行是一个实例，一列是一个属性----和Series条件筛选基本一样

In [63]:
df_2["成绩"] > 80    # 老样子，返回 Bool值的 Series

沃玛     True
憨色    False
冷鸟     True
露西    False
麻衣     True
Name: 成绩, dtype: bool

In [60]:
df_2[df_2["成绩"] > 80]    # df_2[bool的 Series]

    学号  班级   成绩
沃玛  01  二班   90
冷鸟  03  三班   98
麻衣  05  二班  100

In [64]:
df_2[(df_2["成绩"] > 80) & (df_2["班级"] == "二班")]

    学号  班级   成绩
沃玛  01  二班   90
麻衣  05  二班  100

**（9）获取前n行:**

        .head(n)提取前n行----在数据很多很多时，可以通过查看开头几行数据，来了解数据包含的信息

In [66]:
df_2.head(3)    # 由于从0开始，且不包括结束行，即输入 n则提取 n

    学号  班级  成绩
沃玛  01  二班  90
憨色  02  一班  76
冷鸟  03  三班  98