#### 2024.9.14

**今日学习：
（60）评估数据（61）实际上手**

In [1]:
import pandas as pd

#### 一、评估数据

**（1）评估数据介绍:**

        在分析数据之前，先对数据进行评估（以后再清洗）
        包括两个方面：1.结构：根据结构清晰程度分为 乱数据——整洁数据
                           整洁数据三个特点：每列是一个变量、每行是一个观察值、每个单元格是一个值
                                   但整洁数据更多是为了方便数据分析，而不是方便人类来直观观察
                                   如不同季度的GDP数据，列名不应该为Q1、Q2、Q3、Q4，而是用quarter来表示，其值为Q1、Q2···
                    2.内容：根据内容是否需要清理分为 脏数据——干净数据
                           如存在数据丢失、重复数据、不一致数据（指代同一数据的表示不同，如1班与一班）、无效或错误数据

===============================================================================

#### 二、实际上手

**（1）快速了解数据概况:**

        df.info()可以快速查看DataFrame数据的概况
        df.sample(n)可以获取随机n行数据----如果数据中列数过多or值太长时，可以通过pd.set_option("display.max_columns&colwidth", n)调整

**（2）如何发现空缺值:**

        通过df.info()查看Non-Null Count数据数量，就能看出是否有缺失值

        也可以通过调用.isnull()方法检查值是否为空缺值，在Series和DataFrame都能使用----返回True即为空缺值

In [2]:
df_fifa = pd.read_csv("/Users/warma/Downloads/fifa_players_2022.csv")

/var/folders/nm/k6xd7m5j5_n5tkt_d9xcbflh0000gn/T/ipykernel_68811/1194350206.py:1: DtypeWarning: Columns (22,105) have mixed types. Specify dtype option on import or set low_memory=False.
  df_fifa = pd.read_csv("/Users/warma/Downloads/fifa_players_2022.csv")

In [3]:
df_fifa.info()    # 由于列数太多在这无法显示

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19239 entries, 0 to 19238
Columns: 107 entries, sofifa_id to nation_flag_url
dtypes: float64(12), int64(45), object(50)
memory usage: 15.7+ MB

In [4]:
df_fifa.isnull()

,sofifa_id,player_url,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,...,lcb,cb,rcb,rb,gk,player_face_url,club_logo_url,club_flag_url,nation_logo_url,nation_flag_url
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19234,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
19235,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
19236,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
19237,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
19238,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [5]:
df_fifa.isnull().sum()    # 得到各列中空缺值的数量----True在计算里被视为1，False视为0

sofifa_id               0
player_url              0
short_name              0
long_name               0
player_positions        0
                    ...
player_face_url         0
club_logo_url          61
club_flag_url          61
nation_logo_url     18480
nation_flag_url         0
Length: 107, dtype: int64

In [6]:
True + 1

2

 **（3）提取存在空缺值的行:**

        Series：调用Series[Series["列名"].isnull()]可以提取出Series中指定列存在空缺值的行
                因为Series["列名"].isnull()会返回关于制定列的bool列表，仅提取其中值为True的行
        DataFrame也同理

In [7]:
df_fifa[df_fifa["sofifa_id"].isnull()]    # 不返回具体行，说明"sofifa_id"行没有空缺值

Empty DataFrame
Columns: [sofifa_id, player_url, short_name, long_name, player_positions, overall, potential, value_eur, wage_eur, age, dob, height_cm, weight_kg, club_name, league_name, league_level, club_position, club_jersey_number, club_loaned_from, club_joined, club_contract_valid_until, nationality, nation_position, nation_jersey_number, preferred_foot, weak_foot, skill_moves, international_reputation, work_rate, body_type, real_face, release_clause_eur, player_tags, player_traits, pace, shooting, passing, dribbling, defending, physic, attacking_crossing, attacking_finishing, attacking_heading_accuracy, attacking_short_passing, attacking_volleys, skill_dribbling, skill_curve, skill_fk_accuracy, skill_long_passing, skill_ball_control, movement_acceleration, movement_sprint_speed, movement_agility, movement_reactions, movement_balance, power_shot_power, power_jumping, power_stamina, power_strength, power_long_shots, mentality_aggression, mentality_interceptions, mentality_positioning, mentality_vision, mentality_penalties, mentality_composure, defending_marking_awareness, defending_standing_tackle, defending_sliding_tackle, goalkeeping_diving, goalkeeping_handling, goalkeeping_kicking, goalkeeping_positioning, goalkeeping_reflexes, goalkeeping_speed, ls, st, rs, lw, lf, cf, rf, rw, lam, cam, ram, lm, lcm, cm, rcm, rm, lwb, ldm, cdm, rdm, rwb, lb, lcb, cb, rcb, ...]
Index: []

[0 rows x 107 columns]

 **（4）评估重复值:**

        Series和DataFrame都可以调用.duplicated()方法来检查值或行是否重复

In [8]:
df_fifa["sofifa_id"].duplicated()    # 当"sofifa_id"行不存在重复值时返回False

0        False
1        False
2        False
3        False
4        False
         ...
19234    False
19235    False
19236    False
19237    False
19238    False
Name: sofifa_id, Length: 19239, dtype: bool

In [9]:
df_fifa["sofifa_id"].duplicated().sum()    # 统计重复值的个数据

np.int64(0)

In [10]:
df_fifa.duplicated()    # 不指定列时，即当整个行实例完全一样时，才会返回True

0        False
1        False
2        False
3        False
4        False
         ...
19234    False
19235    False
19236    False
19237    False
19238    False
Length: 19239, dtype: bool

In [11]:
df_fifa.duplicated(subset=["sofifa_id", "player_url"])    # subset=["列1", "列2"]，即只有列1与列2完全重复时，才会返回 True

0        False
1        False
2        False
3        False
4        False
         ...
19234    False
19235    False
19236    False
19237    False
19238    False
Length: 19239, dtype: bool

In [12]:
df_fifa[df_fifa.duplicated(subset=["sofifa_id", "player_url"])]    # 再加上 df_fifa[*] 即可调出存在重复值的行

Empty DataFrame
Columns: [sofifa_id, player_url, short_name, long_name, player_positions, overall, potential, value_eur, wage_eur, age, dob, height_cm, weight_kg, club_name, league_name, league_level, club_position, club_jersey_number, club_loaned_from, club_joined, club_contract_valid_until, nationality, nation_position, nation_jersey_number, preferred_foot, weak_foot, skill_moves, international_reputation, work_rate, body_type, real_face, release_clause_eur, player_tags, player_traits, pace, shooting, passing, dribbling, defending, physic, attacking_crossing, attacking_finishing, attacking_heading_accuracy, attacking_short_passing, attacking_volleys, skill_dribbling, skill_curve, skill_fk_accuracy, skill_long_passing, skill_ball_control, movement_acceleration, movement_sprint_speed, movement_agility, movement_reactions, movement_balance, power_shot_power, power_jumping, power_stamina, power_strength, power_long_shots, mentality_aggression, mentality_interceptions, mentality_positioning, mentality_vision, mentality_penalties, mentality_composure, defending_marking_awareness, defending_standing_tackle, defending_sliding_tackle, goalkeeping_diving, goalkeeping_handling, goalkeeping_kicking, goalkeeping_positioning, goalkeeping_reflexes, goalkeeping_speed, ls, st, rs, lw, lf, cf, rf, rw, lam, cam, ram, lm, lcm, cm, rcm, rm, lwb, ldm, cdm, rdm, rwb, lb, lcb, cb, rcb, ...]
Index: []

[0 rows x 107 columns]

 **（5）评估不一致数据:**

        借用Series["列名"].value_counts()方法，会返回Series指定列中各个值的个数

        但很多情况下，我们不能直接根据.value_counts()来进行评估，如身高不小心打成1720，此时可以采取其他方法来评估
                如.sort_values()方法来自行查看
                  .describe()方法来查看min和max值

In [13]:
df_fifa["sofifa_id"].value_counts()    # 均返回 1，即表示各个值都是独特的----主要用来鉴别类似 "1班"、"一班"这样的不一致数据

sofifa_id
158023    1
242947    1
242748    1
242710    1
242684    1
         ..
155524    1
150106    1
148696    1
145996    1
264540    1
Name: count, Length: 19239, dtype: int64