#### 2024.9.12

**今日学习：
（53）DataFrame丝滑操作（54）小测试（55）获取数据**

In [1]:
import pandas as pd

#### 一、Dataframe丝滑操作

**（1）常用方法:**

        其中我们可以控制数据处理方向：axis=0即纵向操作----drop时axis=0，即将索引行上的数据一个个删除，处理纵轴上的数据；但在统计上直接处理纵轴数据
                                 axis=1即横向操作----drop时axis=1，即将列名上的数据一个个删除，处理横轴上的数据；但在统计上直接处理横轴数据

        先创建一个Dataframe数据

In [2]:
s_a = pd.Series([1, 0, 2, 3], index=["001", "002", "003", "004"])
s_b = pd.Series([4, 2, 3, 5], index=["001", "002", "003", "004"])
s_c = pd.Series([3, 4, 1, 5], index=["001", "002", "003", "004"])
s_d = pd.Series([3, 2, 1, 0], index=["001", "002", "003", "004"])

df_1 = pd.DataFrame({"a":s_a, "b":s_b, "c":s_c, "d":s_d})
df_1

     a  b  c  d
001  1  4  3  3
002  0  2  4  2
003  2  3  1  1
004  3  5  5  0

In [3]:
df_1.mean()    # 默认axis=0，对纵轴数据求平均，即a的平均值为1.5

a    1.50
b    3.50
c    3.25
d    1.50
dtype: float64

In [4]:
df_1.drop(["004"])    # 默认axis=0，纵向处理数据，对"004"在纵轴上的abcd数据一个个删除，实质是删除"005"这个横轴数据

     a  b  c  d
001  1  4  3  3
002  0  2  4  2
003  2  3  1  1

In [5]:
df_1.mean(axis=1)    # 设定axis=1，对横轴数据求平均，即"001"的平均值为2.75

001    2.75
002    2.00
003    1.75
004    3.25
dtype: float64

        如果我们需要在求平均时，去除最高分和最低分，因此可以使用def和apply方法，一次性将def的函数应用在任意横纵数据上

In [6]:
def trim_mean(data):
    data_len = len(data)
    data_sum = data.sum()
    data_max = data.max()
    data_min = data.min()
    return(data_sum - data_max - data_min)/(data_len - 2)

df_1.apply(trim_mean, axis=1)    # 同样使用.apply();以及设定axis=1，即对数据进行横向处理，得到截尾后"001"···的平均值

001    3.0
002    2.0
003    1.5
004    4.0
dtype: float64

In [7]:
df_1.apply(trim_mean)    # 默认axis=1，即对数据进行横向处理，得到截尾后abcd的平均值

a    1.5
b    3.5
c    3.5
d    1.5
dtype: float64

**（2）applymap:**

        除apply接收方法以外，还有applymap接收函数；
            区别：传给apply的函数，会被运用在每一行or每一列上
                 传给applymap的函数，会被运用在每一个元素上
            注意：无论是apply还是applymap函数都不会改变原始DataFrame，只会返回处理后的结果，如果需要保存该案后的结果，仍需额外赋值=

In [8]:
df_1.applymap(lambda x: x + 5)    # 警告DataFrame.applymap()函数已经不再推荐使用，但目前仍有效

/var/folders/nm/k6xd7m5j5_n5tkt_d9xcbflh0000gn/T/ipykernel_60053/2936447791.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_1.applymap(lambda x: x + 5)    # 警告DataFrame.applymap()函数已经不再推荐使用，但目前仍有效

     a   b   c  d
001  6   9   8  8
002  5   7   9  7
003  7   8   6  6
004  8  10  10  5

In [9]:
df_1.apply(lambda x: x + 5)    # 此处使用.apply()，对每一纵轴上的数据进行处理，效果也是一样的

     a   b   c  d
001  6   9   8  8
002  5   7   9  7
003  7   8   6  6
004  8  10  10  5

In [10]:
df_1    # apply和applymap都不会改变原始 df_1

     a  b  c  d
001  1  4  3  3
002  0  2  4  2
003  2  3  1  1
004  3  5  5  0

In [11]:
df_1.mean()

a    1.50
b    3.50
c    3.25
d    1.50
dtype: float64

In [12]:
df_2 = df_1.apply(lambda x: x + 5)
df_2.mean()    # df_2是对df_1每个元素加上5后的结果

a    6.50
b    8.50
c    8.25
d    6.50
dtype: float64

**（3）describe:**

        类似Series中的describe()，一样得到统计数据----且会自动忽略非数字类型的数据

In [13]:
df_1.describe()    # 得到各列的统计信息（如a列有4个数、平均值为1.5···）

              a         b         c         d
count  4.000000  4.000000  4.000000  4.000000
mean   1.500000  3.500000  3.250000  1.500000
std    1.290994  1.290994  1.707825  1.290994
min    0.000000  2.000000  1.000000  0.000000
25%    0.750000  2.750000  2.500000  0.750000
50%    1.500000  3.500000  3.500000  1.500000
75%    2.250000  4.250000  4.250000  2.250000
max    3.000000  5.000000  5.000000  3.000000

        加餐：导出df_1中每行第二大的数据

In [14]:
df_1.loc[:, "a":"c"]    # 这里的[:, "a":"d"]，第一个:是提取全部的行;第二个"a":"c"是提取从a到c列的数据

     a  b  c
001  1  4  3
002  0  2  4
003  2  3  1
004  3  5  5

In [15]:
df_1.loc["a":"c"]    # 尝试执行 df_1.loc["a":"c"] 时，并没有发生错误，而是返回了一个空的 DataFrame
                     # 这是因为 “a” 到 “c” 并不是 DataFrame df_1 的索引标签,df_1 的索引标签实际上是 “001” 到 “004”

Empty DataFrame
Columns: [a, b, c, d]
Index: []

In [16]:
df_1

     a  b  c  d
001  1  4  3  3
002  0  2  4  2
003  2  3  1  1
004  3  5  5  0

In [17]:
df_1.loc[:, "a":"c"].apply(lambda x: sorted(x)[-2])    # 对数据进行sorted排序处理后，提取倒数第二个数据

a    2
b    4
c    4
dtype: int64

**（4）.astype(" "):**

        当使用describe时，如果DataFrame中的数据类型不是int而是object，则即使数字看起来是int，但describe时也会出现错误
        此时就要使用df["列名"] = df["列名"].astype("int")

========================================================================

#### 二、获取数据

**（1）数据分析流程:**

        数据获取-读取数据-评估数据-清洗数据-整理数据-分析数据-可视化数据

**（2）数据分类:**

        私密数据：如公司内部数据
        公开数据：通过直接下载、爬虫、公开API获取等
                 API定义了两个程序之间的服务合约，包括 发送相应的客户端&发送请求的客户端（双方如何通过请求与响应进行通讯的）
                 使用爬虫时，发送请求后，我们获得的是网页源代码，其本身是用来给浏览器渲染的，我们为了从中寻找数据，需要自己再去解析网页源码
                     但如果对方直接提供给我们API，便能按照对方规定好的服务合约，根据规则发送请求，直接获取想要的数据，无需解析源码
                         即一个网站如果提供了API时，通过API而不是爬虫去获取数据肯定是更高效的方法